.fadeOut,
.fadeIn {
  font-family: var(--header-font);
  text-align: center;
  top: calc(50vh - 40px);
  position: fixed;
  width: 100vw;
  font-size: 80px;
  margin: 0;
  color: var(--text-color);
}
